@import "https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FBC252; }

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB100; }
  .titulo h1 {
    flex-grow: 1;
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 3.125rem;
    font-weight: bold;
    color: brown; }
  .titulo .logo-negocio {
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 1rem; }
  .titulo .carrito-header {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: white;
    color: #FBC252;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-left: 0.375rem;
    margin-right: 0.3125rem; }
    .titulo .carrito-header img {
      display: flex;
      width: 1.25rem;
      height: 1.25rem; }
    .titulo .carrito-header:hover {
      background-color: #FFB100;
      opacity: 0.7; }

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: black;
  width: 100%;
  height: 2.25rem; }
  header nav {
    position: absolute;
    left: 0;
    text-align: left;
    display: flex;
    height: 20px;
    width: 30%;
    font-size: 20px;
    padding-top: 0.25rem;
    justify-content: flex-start; }
    header nav a {
      font-family: 'Roboto', sans-serif;
      font-size: 0.9375rem;
      font-weight: bold;
      color: white;
      text-decoration: none;
      margin-right: 10px;
      margin-left: 10px; }
    header nav ul li {
      list-style: none; }

a {
  margin-right: 1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.875rem;
  justify-content: left; }
  a:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-3px); }

main a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3.125rem; }

.comidas {
  display: grid;
  grid-template-areas: "texto-comida1 imagenes-comida" "texto-comida1 botonera";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 3.125rem;
  gap: 0.3125rem; }
  .comidas .texto-comida1 {
    grid-area: texto-comida1;
    height: 12.5rem;
    background-color: rgba(200, 198, 198, 0.686);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    width: 95%;
    height: 85%; }
    .comidas .texto-comida1 h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
      height: 1.875rem;
      color: black; }
    .comidas .texto-comida1 a {
      width: 100%;
      height: 100%;
      margin: 0px;
      font-size: 2.875rem; }
  .comidas .imagenes-comida {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 1.25rem; }
  .comidas p {
    font-size: .9375rem;
    padding-left: 0rem;
    color: black;
    margin-left: 0.625rem; }

.cantidad {
  width: 3rem;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 2px;
  background-color: white;
  color: black; }

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black;
  padding: 0.625rem;
  height: 2.5rem; }
  footer .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 198, 198, 0.686);
    width: 12.5rem;
    height: 1.875rem;
    margin-top: 0rem;
    border-radius: 0.3125rem; }
    footer .redes-sociales a:hover img {
      opacity: 0.7; }

.imagenes-index {
  grid-area: imagenes-index;
  height: 100vh;
  background-color: #FBC252;
  width: 75%;
  margin-top: 3.125rem; }

.comidas2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 30rem;
  grid-template-areas: " . imagenes-index" "menu-index imagenes-index" "menu-index imagenes-index" " . imagenes-index"; }
  .comidas2 .menu-index {
    grid-area: menu-index;
    height: 3.125rem;
    background-color: #FBC252;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem; }
    .comidas2 .menu-index a.botones-index {
      height: 5rem; }

.botonera {
  grid-area: botonera;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: grey;
  border-radius: 5px;
  border-color: black; }

.agregar-carrito {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  border-left: 2px solid black; }
  .agregar-carrito img {
    width: 1.5rem;
    height: 1.5rem; }
  .agregar-carrito button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #FFB100;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.875rem; }
    .agregar-carrito button:hover {
      background-color: #FBC252; }

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #FFB100;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem; }
  button:hover {
    background-color: #FBC252; }

.botones {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  .botones:hover {
    background-color: #FFB100; }

.botones-index {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 75%;
  margin-left: 0.3125rem; }
  .botones-index:hover {
    background-color: #FFB100; }

@media (max-width: 1024px) {
  main a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5rem; } }

@media (max-width: 768px) {
  nav {
    width: 100%;
    justify-content: center; }
  body {
    overflow-x: hidden;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; }
    body header {
      justify-content: center; }
    body .titulo h1 {
      font-size: 1.5625rem; }
    body .titulo .logo-negocio {
      height: 1.875rem;
      width: 1.875rem; }
    body main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body main .comidas {
        display: flex;
        flex-direction: column;
        background-color: none;
        width: 100%; }
        body main .comidas .texto-comida1 {
          width: 100%;
          margin-top: 0.3125rem; }
          body main .comidas .texto-comida1 h2 {
            color: black;
            font-size: 1.5625rem; }
    body footer {
      background-color: transparent; }
  .comidas2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem;
    grid-template-areas: " menu-index .";
    height: 70%; }
    .comidas2 .menu-index a {
      font-size: 20px;
      display: flex;
      margin: 0.3125rem;
      gap: none; }
  .imagenes-index {
    display: none; }
  .comidas .texto-comida1 {
    width: 100%;
    height: 100%; } }

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover; }
    body main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body main .comidas {
        display: flex;
        flex-direction: column;
        background-color: none;
        width: 100%; }
        body main .comidas .texto-comida1 a {
          font-size: 1.5625rem; }
        body main .comidas h2 {
          color: black;
          font-size: 1.5625rem; }
    body h1 {
      font-size: 1.875rem; }
    body .comidas2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20rem;
      grid-template-areas: " menu-index ."; }
    body .menu-index a {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25%;
      gap: none; }
    body p {
      font-size: 0.7813rem;
      padding-left: 0rem;
      color: black;
      margin-left: 0.625rem; }
    body h1 {
      font-size: 1.5625rem; }
    body .agregar-carrito button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      font-size: 10px; }
    body .comidas2 {
      height: 70vh; }
      body .comidas2 a .botones-index {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9.375rem;
        margin: 0rem; } }

@media (max-width: 375px) {
  html {
    height: 80vh; }
    html .grid-container {
      grid-column: 1fr;
      grid-template-rows: 2.1875rem 1fr 2.1875rem;
      grid-template-areas: "texto-comida1 imagenes-comida" "texto-comida1 imagenes-comida" "texto-comida1 imagenes-comida"; }
      html .grid-container .comidas {
        grid-template-rows: 9.375rem 1fr 2.1875rem;
        width: 100%; }
      html .grid-container .texto-comida1 {
        display: flex;
        flex-direction: column;
        height: 9.6875rem;
        width: 100%;
        padding-top: 0px;
        margin-right: 0rem; }
        html .grid-container .texto-comida1 .imagenes-comida {
          width: 100%; }
        html .grid-container .texto-comida1 p {
          display: flex;
          text-align: left;
          padding-right: 0rem;
          margin-right: 0.625rem;
          margin-left: 0.625rem;
          color: black;
          font-size: .6875rem; }
    html header {
      grid-area: header;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 100%; }
      html header nav a {
        font-size: 0.625rem; }
      html header a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem; }
    html .titulo h1 {
      font-size: 1.25rem; }
    html .titulo .logo-negocio {
      width: 1.875rem;
      height: 1.875rem; }
    html .titulo .carrito-header {
      width: 1.5rem;
      padding: 0rem 0rem; }
      html .titulo .carrito-header .carrito-header img {
        align-items: center;
        display: flex;
        margin-left: 0.625rem; }
      html .titulo .carrito-header .carrito-header a {
        width: 1.25rem;
        height: 1.25rem; }
    html .botonera {
      display: flex;
      align-items: left;
      gap: 0.25rem;
      padding: 0.75rem;
      font-size: 1.25rem;
      color: black; }
      html .botonera p {
        color: black; }
      html .botonera .botones {
        padding: 0.25rem 0.5rem;
        font-size: 1rem; }
      html .botonera input {
        width: 1.5625rem;
        margin-right: 0.3125rem; }
      html .botonera .agregar-carrito {
        padding-left: 0.5rem;
        height: 1.25rem; }
        html .botonera .agregar-carrito .agregar-carrito button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.875rem;
          font-size: 10px; }
    html .comidas2 {
      height: 70vh; }
    html .menu-index .botones-index {
      width: 9.375rem;
      margin: 0rem; } }

@media (max-width: 320px) {
  h2 {
    font-size: 1.25rem; } }

main a {
  font-size: 1.8625rem; }

.menu-index a {
  margin-left: 0rem;
  gap: none; }

.custom-button, .btn-primary, .btn-danger {
  background-color: #000000;
  border-color: #FFB100; }
  .custom-button:hover, .btn-primary:hover, .btn-danger:hover {
    background-color: #E69100;
    border-color: #E69100; }

body {
  color: white;
  background-color: #FBC252; }

.container {
  border-radius: 5px;
  margin-top: 40px; }

h1 {
  flex-grow: 1;
  text-align: center;
  font-family: 'Caprasimo', cursive;
  font-size: 3.125rem;
  font-weight: bold;
  color: brown; }

th {
  color: #FFB100; }

.table {
  color: white; }

.card {
  color: white;
  margin-top: 20px; }
  .card .card-title {
    color: #FFB100; }
  .card .card-text {
    color: white; }

.redes-sociales {
  display: flex;
  align-items: center;
  width: 14.5rem;
  height: 1.875rem;
  margin-top: 50rem;
  border-radius: 0.3125rem;
  justify-content: space-between; }
  .redes-sociales a {
    color: white;
    text-decoration: none;
    margin-right: 10px; }
    .redes-sociales a:hover {
      color: #FBC252; }
  .redes-sociales img {
    display: flex;
    align-items: space;
    margin-left: 1.625rem; }
