

  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FBC252;
}

.titulo {
  display: flex;
  align-items: center;
  background-color: #FFB100;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: black;
  width: 100%;
  height: 1.25rem;
}

ul li {
  list-style: none;
}

a {
  margin-right: 1.875rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.875rem;
  justify-content: left;
}

.comidas2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 30rem;
  grid-template-areas:
    " . imagenes-index"
    "menu-index imagenes-index"
    "menu-index imagenes-index"
    " . imagenes-index";
}



.imagenes-index {
  grid-area: imagenes-index;
  height: 100vh;
  background-color: none;
}

.menu-index {
  grid-area: menu-index;
  height: 3.125rem;
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

a.botones-index{
  height: 5rem;
}

main a {
  display: flex;
  align-items:center;
  justify-content: center;
  color: black;
  font-size: 3.125rem;
  
}


nav {
  position: absolute;
  left: 0;
  text-align: left;
  display: flex;
  height: 20px;
  width: 30%;
  font-size: 20px;
  padding-top: 0.25rem;
  justify-content: flex-start;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-size: .9375rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  flex-grow: 1;
  text-align: center;
  font-family: 'Caprasimo', cursive;
  font-size: 3.125rem;
  font-weight: bold;
  color: brown;
}

p {

  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding-left: 1.25rem;
  color: black
  
}

.comidas {
  display: grid;
  grid-template-areas:
    "texto-comida1 imagenes-comida"
    "texto-comida1 botonera";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 3.125rem;
  gap: .3125rem;
}

.imagenes-index {
  width: 75%;
  margin-top: 3.125rem;
}

.imagenes-comida {
  height: 100%;
  width: 100%;
  border-radius: 1.25rem ;
  padding-top: .625rem;

}

h2 {
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.875rem;
  height: 1.875rem;

  color: black
}

.texto-comida1 {
  grid-area: texto-comida1;
  height: 12.5rem; 
  background-color: rgba(200, 198, 198, 0.686);
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 1.25rem ;
  width: 95%;
  margin-top: 50px ;
  
}

.texto-comida1 a {
  width: 100%;
  height: 100%;
  margin: 0px;
}



.botonera {
  grid-area: botonera;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #aa893b;
  border-radius: 5px;
  border-color: black;
}

.botones {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones-index {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: grey;
  color: black;
  border: none;
  border-radius: .625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 75%;
  margin-left: .3125rem;
}

.botones:hover,
.botones-index:hover {
  background-color: #E69100;
}


.cantidad {
  width: 3rem;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 2px;
  background-color: none;
  color: black;
}

.agregar-carrito {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  border-left: 2px solid black;
}

.agregar-carrito img {
  width: 1.5rem;
  height: 1.5rem;
}

.agregar-carrito button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #FFB100;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar-carrito button:hover {
  background-color: #FBC252;
}

.logo-negocio {
  width: 3.125rem;
  height: 3.125rem;
  margin-left: 1rem;
}

.carrito-header {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: white;
  color: #FBC252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: .375rem;
  margin-right: .3125rem;
}

.carrito-header img {
  display: flex;

  width: 1.25rem;
  height: 1.25rem;

}

.carrito-header:hover {
  background-color: #E69100;
  opacity: 0.7;
}

.redes-sociales {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  width: 12.5rem;
  height: 1.875rem;
  margin-top: 0rem;
  border-radius: .3125rem;
  padding-left: 2.1875rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black;
  padding: .625rem;
  height: 2.5rem;
  
}

a:hover {
  color: white;
  text-decoration: none;
  transform: translateY(-3px);
}

footer a:hover img {
  opacity: 0.7;
}


.agregar-carrito button {
  display: flex;
  align-items:center;
  justify-content: center;


}


@media (max-width: 1024px) {



}


@media (max-width: 768px) {

a{
  margin-left: none;
}

 .texto-comida1{
  width: 50vh;
 }
.texto-comida1 a {
  font-size: 1.875rem;
}

}

/* Estilos para pantalla de 480px */
@media (max-width: 480px) {

  body {
    overflow-x: hidden;
    background-color: none;
    background-image: url('/assets/img/Burger-index.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  main{
    background-color: none;
    height: 100%;

  }

  h1{
    font-size: 1.875rem;
  }
.comidas{
  display: flex;
  flex-direction: column;
  background-color: none;
  width: 100%;
}

.comidas2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem ;
  grid-template-areas:
    " menu-index ."
}


.menu-index a {
  font-size: 20px;
  display: flex;
  padding: 25%;
  margin-left: 0rem;
  padding: 20%;
  gap: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





  h2{
    color: black;
    font-size: 1.5625rem;
  }

  p{
    font-size: .625rem;
    padding-left: 0rem;
    color: black;
    margin: 1.25rem;
  }

  h1{
    font-size: 1.5625rem;
  }







.logo-negocio{
  height: 1.875rem;
  width: 1.875rem;
}

  
.imagenes-index{
  display: none;
}


}



/* Estilos para pantalla de 375px */
@media (max-width: 375px) {

  body {
    overflow-x: hidden;
    background-color: none;
    background-image: url('/assets/img/Burger-index.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  main{
    background-color: none;
    height: 100%;

  }

  h1{
    font-size: 1.875rem;
  }
.comidas{
  display: flex;
  flex-direction: column;
  background-color: none;
  width: 100%;
}

.comidas2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem ;
  grid-template-areas:
    " menu-index ."
}


.menu-index a {
  font-size: 20px;
  display: flex;
  padding: 25%;
  margin-left: 0rem;
  padding: 20%;
  gap: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





  h2{
    color: black;
    font-size: 1.5625rem;
  }

  p{
    font-size: .625rem;
    padding-left: 0rem;
    color: black;
    margin: 1.25rem;
  }

  h1{
    font-size: 1.5625rem;
  }







.logo-negocio{
  height: 1.875rem;
  width: 1.875rem;
}

  
.imagenes-index{
  display: none;
}

}


/* Estilos para pantalla de 320px */
@media (max-width: 320px) {
.grid-container{
  grid-column: 1fr;
  grid-template-rows: 2.1875rem 1fr 2.1875rem ;
  grid-template-areas: 
  "texto-comda1 imagenes-comida"
  "texto-comda1 imagenes-comida"
  "texto-comda1 imagenes-comida";
}

.comidas{
  grid-template-rows: 9.375rem 1fr 2.1875rem ;
}


nav a{
  font-size: .625rem;
}

  header{
    grid-area: header;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
  }

h1{
  font-size: 1.25rem;
}


  
.logo-negocio{
  width: 1.875rem;
  height: 1.875rem  ;
}
 .carrito-header{
  width: 2.5rem;
  padding: 0rem 0rem;
 }

 .carrito-header img{
  align-items: center;
  display: flex;
  margin-left: .625rem;

 }

 .titulo{
  width: 100%;
 }

 .carrito-header a{
  width: 1.25rem;
  height: 1.25rem;
 }

p{
  display: flex;
  text-align: left;
  padding-right: 0rem;
  margin-right: .625rem;
  margin-left: .625rem;
  color: black;

}

.texto-comida1{
  display: flex;
  flex-direction: column;
  height: 9.6875rem;
  width: 100%;
  padding-top: 0px;
  margin-right: 0rem;

  
}

.texto-comida1 a{
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.875rem;
}


.botonera{
  display: flex;
  align-items: left;
  gap: 0.25rem;
  padding: 0.75rem;

}

.botonera {
  font-size: 1.25rem;
  color: black;
}

.botonera p {
  color: black;

}


.botonera input {
  width: 1.5625rem;
  margin-right: .3125rem;
}

.botones {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.agregar-carrito {
  padding-left: 0.5rem;
  height: 1.25rem;
}



.agregar-carrito button {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 1.875rem;
  font-size: 10px;

}


.botones-index {
  width: 9.375rem;
  margin: 0rem;
}



}

