
$color-fondo: #886f48;
$color-amarillo: #FFB100;
$color-negro: black;
$color-gris-claro: rgba(200, 198, 198, 0.686);
$color-marron: brown;
$color-naranja: #FBC252;
$color-gris: grey;
$color-blanco: white;
