

@media (max-width: 375px) {
	html {
		height: 80vh;

		.grid-container {
			grid-column: 1fr;
			grid-template-rows: 2.1875rem 1fr 2.1875rem;
			grid-template-areas: "texto-comida1 imagenes-comida"
				"texto-comida1 imagenes-comida"
				"texto-comida1 imagenes-comida";

				.comidas {
					grid-template-rows: 9.375rem 1fr 2.1875rem;
				}
				.texto-comida1 {
					display: flex;
					flex-direction: column;
					height: 9.6875rem;
					width: 100%;
					padding-top: 0px;
					margin-right: 0rem;
		

					p {
						display: flex;
						text-align: left;
						padding-right: 0rem;
						margin-right: 0.625rem;
						margin-left: 0.625rem;
						color: $color-negro;	
						font-size: .6875rem;
					}

				}
		}
	

	

	
		header {
			grid-area: header;
			grid-row-start: 1;
			grid-row-end: 1;
			width: 100%;

			nav a {
				font-size: 0.625rem;
			}	

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.875rem;
			}
		}
	

		.titulo {
			width: 100%;

			h1 {
				font-size: 1.25rem;
			}

			.logo-negocio {
				width: 1.875rem;
				height: 1.875rem;
			}

			.carrito-header {
				width: 2.5rem;
				padding: 0rem 0rem;
	
					.carrito-header img {
						align-items: center;
						display: flex;
						margin-left: 0.625rem;
					}
				
			
				
					.carrito-header a {
						width: 1.25rem;
						height: 1.25rem;
					}
			}
		}


	

	

	

	

	

	

	
		.botonera {
			display: flex;
			align-items: left;
			gap: 0.25rem;
			padding: 0.75rem;
			font-size: 1.25rem;
			color: $color-negro;

				p {
				color: $color-negro;
			}

			
			.botones {
				padding: 0.25rem 0.5rem;
				font-size: 1rem;
			}

			input {
				width: 1.5625rem;
				margin-right: 0.3125rem;
			}

			.agregar-carrito {
				padding-left: 0.5rem;
				height: 1.25rem;

				.agregar-carrito button {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 1.875rem;
					font-size: 10px;
				}
			}
		

		}
	

	

	

	

	

	


		.comidas2 {
			height: 70vh;
		}
		.menu-index{
			.botones-index {
				width: 9.375rem;
				margin: 0rem;
			}
		}
	}
	}

